/*========================================================
    GENERIC STYLES
========================================================*/


html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-tap-hightlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(100,100,100);
}

footer,
nav {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    line-height: 50px;
    font-weight:400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}



h3 {
    line-height: 30px;
    padding-bottom: 20px;
    
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}

.photo p {
    font-size: 40px;
}

.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 10px;
    margin-top: 10px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix:after,
.container:after,
.navbar:after {
    clear: both;
    display: table;
    content: " ";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    /* This ensures that the image cannot
        render outside of their container
        without forcing any scrollbars*/
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 340px;
    margin: 0% auto;
    content: " ";
    /* top: 0
    left: 0 */
    /* position: absolute */ /*to the top edge of the screen */
    width: 100%;
    position: fixed;
    z-index: 100;
    /*background-color: rgba(255, 255, 255, 0.5); */ 
}

/*=======================================================
    HOME SECTION STYLES
=======================================================*/

#home {
    background: url(../One-Page-Website/images/background_flowers.jfif) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px; /* this is spacer before the main title logo*/
    padding-bottom: 500px; /* this is spacer after main title logo */
    color:rgb(52, 101, 248);
}

.head-main {
    text-shadow: 2px 4px 5px rgba(166, 139, 240, 0.9);
    font-variant: small-caps;
    color: rgb(250, 250, 250);
    letter-spacing: 5pt;
    word-spacing: 10pt;
    font-size: 3em;
    text-align: left;
    font-family: "open sans", sans-serif;
    line-height: 2;
    font-weight: 700;
    padding: 10px;
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
    font-size: 18px;
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
    padding: 5px;
}

/*=======================================================
    CONTACT STYLES
=========================================================*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px auto;
    background-color: rgb(100,100,100);
}

#contact {
    background-color: #fff;
}

.reservation {
    width: 50%;
    padding: 10px;
    margin: 0px auto;
    
    
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #6d737c;
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: 900;
    font-size: 1.5em; 
    font-variant: small-caps;
    letter-spacing: .4pt;
    word-spacing: .3pt;
}

.reservation p {
    color: #13161b;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.reservation form { 
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    background: #fff;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
    font-family: 'Raleway', sans-serif;
    
}

.reservation input[type="text"] {
    font-size: 10px;
    outline: none;
    font-weight: 600;
    color: #8d838f;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 2px 1em;
    background: #fff;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: 'Raleway', sans-serif;
    border-radius: 50px;
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px pink;
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin: 30px 1px 0 0 ;
    margin-top: 13%;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
    color: deeppink;
    text-decoration: underline;
}

.submit input[type="submit"] {
    color: rgb(27, 20, 20);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0px 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #8d838f;
    box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}

/*=============================================================
    VIDEOS
=============================================================*/






/*=========================================================
        FOOTER
=========================================================*/

#footer {
    background-color: rgba(166, 139, 240, 0.9);
    color: #fff;
    text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.menu {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: #000;
    background-color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 0;
    box-shadow: 0;
    border-radius: 2px;
    /*background-color: #052136; */
    cursor: pointer;
    transition-property: background; 
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover {
    color: #fff;
    background-color: rgba(243, 241, 239, 0.3);
}

/*==========================================================
    GALLERY SECTION ANIMATION
=========================================================*/

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2em;
    overflow: hidden;
    border-radius: 0px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 300px;
} 

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 300px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, .5);
}

.white-head {
    color: #fff;
    margin-top: 50%;    
}

/*======================================================
    PHOTO OVERLAY TRANSITIONS
======================================================*/

.photo-overlay {
    opacity: 0;
    transition: opacity .5s;
    border-radius: 10px;
    cursor: pointer;
}

.photo-overlay:hover {
    opacity: 1;
}

.photo img {
    transition: transform .5s;
    transform-origin: 50% 50%;
}

.photo:hover img {
    transform: scale(1.1);
}

/*-------------------------------------------------------------------
    MODAL
-------------------------------------------------------------------*/

body {
    font-family: Verdana, sans-serif;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }